<div class="student-card" *ngIf="student">
  <!-- Avatar de l'élève -->
  <div
    class="student-avatar"
    [ngClass]="{
      female: student.gender === 'female',
      male: student.gender === 'male'
    }"
  >
    <span>{{ student.firstName[0] }}{{ student.lastName[0] }}</span>
    <div class="grade-badge">{{ student.grade }}</div>
  </div>

  <!-- Informations de l'élève -->
  <div class="student-info">
    <h3 class="student-name">{{ student.firstName }} {{ student.lastName }}</h3>
    <div class="student-details">
      <div class="detail-item">
        <i class="fas fa-birthday-cake"></i>
        <span>{{ student.dateOfBirth }}</span>
      </div>
      <div class="detail-item">
        <i class="fas fa-venus-mars"></i>
        <span>{{ student.gender === 'male' ? 'Garçon' : 'Fille' }}</span>
      </div>
      <div class="detail-item">
        <i class="fas fa-chart-line"></i>
        <span>Niveau {{ student.grade }}</span>
      </div>
            <div class="detail-item">
        <i class="fas fa-star"></i>
        <span>Score global : {{ student.playerProfile.score }}</span>
      </div>
    </div>
  </div>
<div class="games-list">
  <div class="game-item" *ngIf="student.gameProgress?.vertical_operations">
    <i class="fas fa-calculator"></i>
    Opérations verticales :
    <span class="game-score">Score : {{ student.gameProgress.vertical_operations?.lastScore }}</span>
  </div>

  <div class="game-item" *ngIf="student.gameProgress?.find_compositions">
    <i class="fas fa-puzzle-piece"></i>
    Trouver les compositions :
    <span class="game-score">Score : {{ student.gameProgress.find_compositions?.lastScore }}</span>
  </div>

  <div class="game-item" *ngIf="student.gameProgress?.choose_answer">
    <i class="fas fa-check-square"></i>
    Choisir la réponse :
    <span class="game-score">Score : {{ student.gameProgress.choose_answer?.lastScore }}</span>
  </div>
</div>



  <!-- Actions -->
  <div class="student-actions">
    <button class="action-btn edit-btn" title="Modifier" (click)="editStudentClick(student)">
      <i class="fas fa-pencil-alt"></i>
    </button>
    <button class="action-btn delete-btn" title="Supprimer" (click)="deleteStudentClick(student)">
      <i class="fas fa-trash-alt"></i>
    </button>
  </div>

  <button class="qrcode-btn" (click)="downloadStudentQRCode()" [disabled]="isGeneratingQR">
    <i class="fas fa-qrcode"></i>
    <span *ngIf="!isGeneratingQR">QR Code</span>
    <span *ngIf="isGeneratingQR">Génération...</span>
  </button>
</div>

<app-modify-student
  *ngIf="showModifiyModalStudent"
 [user]="studentToModify"
  (close)="showModifiyModalStudent = false"
  (studentModified)="onStudentModified($event)"

>


</app-modify-student>


<app-delete-user
 *ngIf="showDeleteUserModal"
[user]="studentToDelete"
(close) = "showDeleteUserModal = false"
 (userDeleted) = "onUserDeleted($event)"
>

</app-delete-user>
