<div class="report-container advanced">
  <h2>Générateur de Rapport</h2>

  <div class="filters">
    <label>Grade :
      <select [(ngModel)]="selectedGrade" [disabled]="isTeacher()" required>
        <option value="" disabled>Choisir un grade</option>
        <option *ngFor="let g of grades" [value]="g">{{g}}</option>
      </select>
    </label>

    <label>Date de début :
      <input type="date" [(ngModel)]="startDate" />
    </label>

    <label>Date de fin :
      <input type="date" [(ngModel)]="endDate" />
    </label>

    <div class="button-wrapper">
      <label class="button-label">Action :
        <button class="report-button" (click)="generateReport()" [disabled]="!selectedGrade || !startDate || !endDate || loading">
          <span *ngIf="!loading">Afficher le rapport</span>
          <span *ngIf="loading" class="loader"></span>
        </button>
      </label>
    </div>
  </div>

  <div *ngIf="reportData.length > 0" class="report-table advanced">
    <table>
      <thead>
        <tr>
          <th>Nom de l'élève</th>
          <th>Grade actuel</th>
          <th>Niveau de math</th>
          <th>Score</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let student of reportData">
          <td>{{ student.firstName }} {{ student.lastName }}</td>
          <td>{{ student.grade }}</td>
          <td>{{ student.mathLevel }}</td>
          <td>{{ student.score }}</td>
        </tr>
      </tbody>
    </table>

    <button (click)="downloadCSV()">Télécharger CSV</button>
  </div>

  <div class="no-data-message" *ngIf="reportData.length === 0 && clicked && !loading">
    <p>Aucune donnée pour cette période.</p>
  </div>
</div>